{erl_opts, [debug_info,
            {i, ["include"]}]}.
{plugins,[rebar_ct]}.
{sub_dirs,[
]}.
{deps,[
    {cowboy,".*",{git,"https://github.com/extend/cowboy.git", "b57f94661f5"}},
    {ekaf, ".*",{git,"https://github.com/helpshift/ekaf.git"},""},
    %{safetyvalve,".*",{git,"git@github.com:jlouis/safetyvalve.git"}},
    {jsx,".*",{git,"https://github.com/talentdeficit/jsx.git"}}
]}.
{ct_dir, "test"}.
{ct_log_dir,"test"}.
{covertool_prefix_len, 2}. % Optional: Use module prefix as (imaginary) package name
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
