{erl_opts, [debug_info,
            {i, ["include"]}]}.
{plugins,[rebar_ct]}.
{sub_dirs,[
       "rel"
]}.
{deps,[
    {gproc, ".*", {git, "git@github.com:bosky101/gproc.git", "worker_pool_leak_test"}},
    {covertool, ".*", {git, "git://github.com/idubrov/covertool.git"}},
    {lager, ".*", {git, "git://github.com/basho/lager.git",  {tag,"9719370"}}},
    {parse_trans,"",{git, "git://github.com/uwiger/parse_trans.git"}},
    {base16, ".*", {git, "git://github.com/goj/base16.git"}},
    {statsderl, ".*",{git,"git://github.com/lpgauth/statsderl.git"}},
    {vmstats, ".*", {git,"git://github.com/ferd/vmstats.git"}},
    {poolboy, "", {git, "git://github.com/devinus/poolboy.git"}},
    {erlsha2,".*",{git,"git@github.com:vinoski/erlsha2.git"}},
    {econfig,".*", {git,"git://github.com/benoitc/econfig.git"}},
    {cowboy,".*",{git,"git@github.com:extend/cowboy.git"}},
    {ekafka, ".*",{git,"git@github.com:bosky101/ekafka.git"}},
    {erlzk, ".*", {git,"git@github.com:huaban/erlzk.git"}},
    {jsx,".*",{git,"git@github.com:talentdeficit/jsx.git"}},
    {exometer,".*",{git,"git@github.com:Feuerlabs/exometer.git"}}
]}.
{clean_files, ["logs"]}.
{ct_dir, "test"}.
{ct_log_dir,"test"}.
{ct_extra_params, "-ct_hooks cth_surefire [{path, \"report.xml\"}]"}.
{covertool_prefix_len, 2}. % Optional: Use module prefix as (imaginary) package name
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
{port_envs,
 [{"LDFLAGS", "$LDFLAGS -module -lssl -lz -lpam -lcrypto"}]}.
%%{post_hooks,[{compile, "make pre-generate"}]}.
